@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  color: white;
  stroke: #2d603a;
  text-shadow: 3px 3px 0 #2d603a;
  -webkit-text-stroke: 5px #2d603a;
  paint-order: stroke fill;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* This helps in preventing the page from scrolling */
}

body {
  overscroll-behavior: none; /* Disables iOS Safari bounce effect */
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(
    safe-area-inset-left
  ); /* Ensuring content isn't obscured by device's notch or rounded corners */
}

.line-connector::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100px; /* fixed width just to see if it shows up */
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
